<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exz.zjb">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.ToolApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".module.SearchActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".widget.MyWebActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".module.LoginActivity" />
        <activity android:name=".module.RegisterActivity" />
        <activity android:name=".module.ForgetPwdActivity" />
        <activity android:name=".module.IDProveActivity" />
        <activity android:name=".module.MsgActivity" />
        <activity android:name=".module.NewsActivity" />
        <activity android:name=".module.TabActivity" />
        <activity android:name=".module.GoodsDetailActivity" />
        <activity android:name=".module.MainTabDetailActivity" />
        <activity android:name=".module.push.PushActivity" />
        <activity android:name="com.szw.framelibrary.view.preview.PreviewActivity" />
        <activity android:name=".module.push.PushDeviceChooseActivity" />
        <activity android:name=".module.mine.PersonInfoActivity" />
        <activity android:name=".module.mine.OpenShopInputTextActivity" />
        <activity android:name=".module.mine.SettingsActivity" />
        <activity android:name=".module.mine.IdeaActivity" />
        <activity android:name=".module.mine.CenterActivity" />
        <activity
            android:name=".module.mine.ReAccountPwdActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>